<MudAppBar Color="Color.Surface" Elevation="0">
    <MudTooltip Text="Toggle Drawer">
        <MudIconButton Icon="@Icons.Material.Rounded.Notes" Color="Color.Inherit" Edge="Edge.Start"
                       OnClick="@((e) => DrawerToggle())" />
    </MudTooltip>
    <MudButton Variant="Variant.Text" Color="Color.Transparent" Href="/" DropShadow="false">
        Budget Request App
    </MudButton>
    <MudSpacer />
    <MudMenu DropShadow="false" PopoverClass="mud-elevation-25" AnchorOrigin="Origin.BottomRight" LockScroll="true" TransformOrigin="Origin.TopRight">
        <ActivatorContent>
            <MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" />
        </ActivatorContent>
        <ChildContent>
            <div class="py-2" style="min-width: 220px">
                <div class="mt-4 mx-4">
                    <MudButton Color="Color.Error" FullWidth="true" StartIcon="@Icons.Material.Filled.Logout" DropShadow="false"
                               Variant="Variant.Filled" OnClick="Logout">
                        Logout
                    </MudButton>
                </div>
            </div>
        </ChildContent>
    </MudMenu>
</MudAppBar>
<MudDrawer @bind-Open="_drawerOpen" outlined ClipMode="DrawerClipMode.Never">
    <NavMenu />
</MudDrawer>

<MudMainContent>
    <MudContainer MaxWidth="MaxWidth.False" Class="px-6 py-6">
        @ChildContent
        <MudScrollToTop TopOffset="400" Style="z-index:2000;">
            <MudFab StartIcon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary" />
        </MudScrollToTop>
    </MudContainer>
</MudMainContent>